body {
    color: #F5F5F5; 
    background-image: url('../images/background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

#main {
    margin: auto; padding: 1rem;
}

/* タイトル部分 */
header {
    text-align: center; padding: 2rem;
}

#title {
    font-size: 2.8rem; 
    font-weight: bold; 
    color: #4b0361; 
    font-family: 'Dela Gothic One', sans-serif;
}

/* 説明部分 */
.font-large {
    font-size: larger;
}

#description {
    background-color: #1F2937; 
    padding: 1rem; 
    border-radius: 0.5rem; 
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); margin-bottom: 1rem;
}

/* ゲーム部分 */
main {
    background-color: #1F2937; 
    padding: 1rem; 
    border-radius: 0.5rem; 
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
    margin-bottom: 1rem;
}

#questioner {
    text-align: center; 
    margin-bottom: 1rem;
}

.questioner {
    font-size: 1.125rem; 
    font-weight: 600;
}

#genre-target-buttons {
    display: flex; 
    justify-content: center; 
    margin-bottom: 
    1rem; gap: 1rem;
}

.select-button {
    width: 7rem; 
    height: 7rem; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: #FFFFFF; 
    font-weight: bold;
}

#genre-button {
    background-color: #640869; 
}

#target-button {
    background-color: #3B82F6;
}

#display-genre-target {
    text-align: center; 
    margin-bottom: 1rem;
    font-family:"MS Pゴシック",sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}

#genre-loading {
    display: none;
}

#target-loading {
    display: none;
}

.loading-image {
    width: 9%; 
    height: 9%;
}

#text-container {
    font-size: 1.125rem; font-weight: 600;
}

/* 設定部分 */
#gameconfig{
    background-color: #1F2937; 
    padding: 1rem; 
    border-radius: 0.5rem; 
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
    margin-bottom: 1rem;
}

.config-parts{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 1rem;
    
}

#config-text {
    font-size: .9rem; 
    font-weight: 600;
    flex: 0 0 150px;
    text-align: left;
}

.config-input {
    margin-right: 1rem;
}

.config-button {
    width: 3rem; 
    height: 2rem; 
    border-radius: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: #FFFFFF; 
    font-weight: bold;
}

.config-add-button {
    background-color: #10B981; 
}

.config-delete-button {
    background-color: #EF4444;
}

.setting-view {
    background-color: #3B82F6;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px auto;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
    width: 5rem;
}

.footer {
    text-align: center; 
    padding: 2rem; 
    background-color: #1F2937; 
    border-radius: 0.5rem; 
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/* ボタン　 */
button {
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}