<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>クイズスナイパー</title>
    <link th:href="@{css/style.css}" rel="stylesheet">
    <link rel="preconnect" th:href="@{'https://fonts.googleapis.com'}">
    <link rel="preconnect" th:href="@{'https://fonts.gstatic.com'}" crossorigin>
    <link th:href="@{'https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap'}" rel="stylesheet">
    
    <script th:inline="javascript">
        // Controllerの値をJSの配列に変換
        const setTargetContets = /*[[${setTargetContets}]]*/[];
        const setGenreContets = /*[[${setGenreContets}]]*/[];
        // 配列の内容をコンソールに出力
        //これはイケリル
        console.log(setTargetContets);
    </script>
    
    
    <style>
    
    </style>
</head>
<body>
    <div id="main">
        <!-- タイトル部分 -->
        <header>
            <h1 id="title">クイズスナイパー</h1>
        </header>
        
        <!-- ゲーム説明部分 -->
        <section id="description">
            <p class="font-large">ルール</p>
            <hr>
            <p>このゲームは指定されたジャンルでターゲットとなった人だけが正解できる問題を出題するゲームです。</p>
            <p>まずは、ゲームに参加する人を登録してください。<a href="#gameconfig">登録はコチラ</a></p>
            <p>1.ジャンル選択ボタンを押しジャンルを決定してください</p>
            <p>2.ターゲット選択ボタンを押し正解させる人を決定してください</p>
            <p>3.選ばれたジャンルでターゲットだけが正解できる問題を出題します</p>
        </section>

        <!-- ゲーム部分 -->
        <main>
            <div id="questioner">
                <label for="targets" class="questioner">クイズ出題者：</label>
                
                <select id="targets" class="questioner">
                    <th:block th:each="targetContent : ${targetTemplates[0].targetContents}">
                        <option th:value="${targetContent.content}" th:text="${targetContent.content}"></option>
                    </th:block>
                </select>
            </div>
            <div id="genre-target-buttons">
                <button id="genre-button" class="select-button">ジャンル選択<br>スタート</button>
                <button id="target-button" class="select-button">ターゲット選択<br>スタート</button>
            </div>
            <div id=display-genre-target>
                <!-- ローディング部分 -->
                <div id="genre-loading">
                    <img class="loading-image" src="images/loading.png" alt="読み込み中">
                </div>
                <p id="genre-text-container">ジャンル：<span id="genre-text">〇〇</span></p>
                <div id="target-loading">
                <img class="loading-image" src="images/loading.png" alt="読み込み中">
                </div>
                <p id="target-text-container"><span id="target-text">〇〇</span>が答えられる問題を出せ</p>
            </div>
        </main>

        <!-- 設定部分 -->
        <section id="gameconfig">
            <div class="config-parts">
                <label for="new-genre" class="config-text">新しいジャンル：</label>
                <input id="new-genre" class="config-input config-text">
                <button id="add-genre-button" class="config-button config-add-button">追加</button>
            </div>
            <div class="config-parts">
                <label for="delete-genre" class="config-text">削除するジャンル：</label>
                <select id="delete-genre" class="config-input config-text">
                </select>
                <button id="delete-genre-button" class="config-button config-delete-button">削除</button>
            </div>
            <div class="config-parts">
                <label for="new-target" class="config-text">新しいターゲット：</label>
                <input id="new-target" class="config-input config-text">
                <button id="add-target-button" class="config-button config-add-button">追加</button>
            </div>
            <div class="config-parts">
                <label for="delete-target" class="config-text">削除するターゲット：</label>
                <select id="delete-target" class="config-input config-text">
                </select>
                <button id="delete-target-button" class="config-button config-delete-button">削除</button>
            </div>
            <!-- 設定画面遷移 -->
            <a class="setting-view" th:href="@{/setting}">設定画面へ</a>
        </section>
        <!-- Footer Section -->
        <footer class="footer">
            <p>作：モモセヨウタ</p>
            <p>© 2024 クイズスナイパー. All rights reserved.</p>
        </footer>
    </div>
    <script src="script/script.js"></script>
</body>
</html>


