<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>クイズスナイパー</title>
    <link th:href="@{css/style.css}" rel="stylesheet">
    <link rel="preconnect" th:href="@{'https://fonts.googleapis.com'}">
    <link rel="preconnect" th:href="@{'https://fonts.gstatic.com'}" crossorigin>
    <link th:href="@{'https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap'}" rel="stylesheet">
    
    
    <style>
    
    </style>
</head>
<body>
    <div id="main">
        <!-- タイトル部分 -->
        <header>
            <h1 id="title">クイズスナイパー</h1>
        </header>

         <!-- メインコンテンツ -->
        <main class="setting-container">
            <h2>テンプレート設定</h2>
            
            <!-- テンプレート追加フォーム -->
            <form class="template-form" action="/saveTemplate" method="post">
                <div class="form-group">
                    <label for="templateName">テンプレート名:</label>
                    <input type="text" id="templateName" name="templateName" required>
                </div>
                <br>
            
                <p>内容</p>
                <div id="templateContentContainer" class="form-group">
                    <div class="template-item">
                        <label for="templateContent1">・</label>
                        <input type="text" id="templateContent1" name="templateContent" required>
                        <input type="checkbox" name="deleteContent" value="1">
                    </div>
                </div>
                
                <button type="button" class="add-btn" onclick="addTemplateContent()">+</button>
                <button type="button" class="delete-btn" onclick="deleteTemplateContent()">チェックした項目を削除</button>
                <br>
                <button type="submit" class="submit-btn">保存</button>
            </form>
            
 
        </main>
    
         <!-- Footer Section -->
        <footer class="footer">
            <p>作：モモセヨウタ</p>
            <p>© 2024 クイズスナイパー. All rights reserved.</p>
        </footer>
    </div>
    <script src="script/createTemp.js"></script>
</body>
</html>


