<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規テンプレート作成</title>
    <link th:href="@{css/style.css}" rel="stylesheet">
    <link rel="preconnect" th:href="@{'https://fonts.googleapis.com'}">
    <link rel="preconnect" th:href="@{'https://fonts.gstatic.com'}" crossorigin>
    <link th:href="@{'https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap'}" rel="stylesheet">
    
    
    <style>
    
    </style>
</head>
<body>
    <div id="main">
        <!-- タイトル部分 -->
        <header>
            <h1 id="title">クイズスナイパー</h1>
        </header>

         <!-- メインコンテンツ -->
        <main class="setting-container">
            <h2>テンプレート設定</h2>
            
            <!-- テンプレート追加フォーム -->
            <form class="template-form" th:action="@{/saveTemplate}" method="post">
                <div class="form-group">
                    <label>追加するテンプレートの種類:</label>
                    <div>
                        <input type="radio" id="genreType" name="templateType" value="genre" checked>
                        <label for="genreType">ジャンル</label>
                        <input type="radio" id="targetType" name="templateType" value="target">
                        <label for="targetType">ターゲット</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="templateName">テンプレート名:</label>
                    <input type="text" id="templateName" name="templateName" required>
                </div>
                <br>
            
                <p>内容</p>
                <div id="templateContentContainer" class="form-group">
                    <div class="template-item">
                        <label for="templateContent1">・</label>
                        <input type="text" id="templateContent1" name="templateContent" required>
                        <input type="checkbox" name="deleteContent" value="1">
                    </div>
                </div>
                
                <button type="button" class="add-btn" onclick="addTemplateContent()">+</button>
                <button type="button" class="delete-btn" onclick="deleteTemplateContent()">チェックした項目を削除</button>
                <br>
                <button type="submit" class="submit-btn">保存</button>
            </form>

            <br>
            <hr>
            <p>ほかの人が作成したテンプレートを使う</p>
            <p>※IDで検索してください</p>
            <!-- テンプレート検索フォーム -->
            <form class="template-form" th:action="@{/searchTemplate}" th:object="${searchData}" method="post">
                <div class="form-group">
                    <label>検索するテンプレートの種類:</label>
                    <div>
                        <input type="radio" id="genreType" name="templateType" value="genre" checked>
                        <label for="genreType">ジャンル</label>
                        <input type="radio" id="targetType" name="templateType" value="target">
                        <label for="targetType">ターゲット</label>
                    </div>
                
                    <label for="searchId">テンプレートID:</label>
                    <input type="number" id="searchId" name="templateId" required>
                </div>
                <div th:if="${#fields.hasErrors('global')}" class="error-message">
                    <p th:text="${#fields.errors('global')}" />
                </div>
                <button type="submit" class="submit-btn">検索</button>
            </form>

            <!-- 検索結果表示エリア -->
            <div th:if="${session.searchResult}" class="search-result">
                <h3>検索結果</h3>

                <div class="template-details">
                    <th:block th:if="${templateType == 'genre'}">
                        <p>ジャンルテンプレート名: <span th:text="${session.searchResult.name}"></span></p>
                    </th:block>
                    <th:block th:if="${templateType == 'target'}"></th:block>
                        <p>ターゲットテンプレート名: <span th:text="${session.searchResult.name}"></span></p>
                    </th:block>
                    <div class="template-contents">
                        <p>内容:</p>
                        <ul>
                            <th:block th:if="${templateType == 'genre'}">
                                <li th:each="content : ${session.searchResult.genreContents}">
                                    <p th:text="${content.content}" class="content-text"></p>
                                </li>
                            </th:block>
                            <th:block th:if="${templateType == 'target'}">
                                <li th:each="content : ${session.searchResult.targetContents}">
                                    <p th:text="${content.content}" class="content-text"></p>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                </div>
                <form th:action="@{/saveSearchTemplate}" method="post" class="template-form">
                    <input type="hidden" name="templateType" th:value="${templateType}">
                    <button type="submit" class="submit-btn">このテンプレートを追加する</button>
                </form>
            </div>
            
            <div class="back-button-container">
                <a th:href="@{/}" class="back-button">戻る</a>
            </div>
 
        </main>
    
         <!-- Footer Section -->
        <footer class="footer">
            <p>作：モモセヨウタ</p>
            <p>© 2024 クイズスナイパー. All rights reserved.</p>
        </footer>
    </div>
    <script src="script/createTemp.js"></script>
</body>
</html>


